@use 'variables';
@use 'mixins';
@use 'animations';

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  cursor: variables.$cursor-inverse-default;
  font-size: 18px;
  font-family: 'Pixelify', sans-serif;
  color: #FFFCE1;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: black;
  background-image: url('/dist/img/grit-white.png');
  background-size: 269px, 30%;
}

main {
  flex: 1;
}

* {
  box-sizing: border-box;
}

p,
li {
  cursor: variables.$cursor-inverse-text;
}

a {
  cursor: variables.$cursor-inverse-pointer;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.text-lower {
  text-transform: lowercase;
}

.text-green {
  color: variables.$color-green;
}

.list-reset {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
}

.d-none {
  display: none !important;
}

.d-sm-none {
  @include mixins.min-width(sm) {
    display: none !important;
  }
}

.d-md-none {
  @include mixins.min-width(md) {
    display: none !important;
  }
}

.d-lg-none {
  @include mixins.min-width(lg) {
    display: none !important;
  }
}

.d-block {
  display: block !important;
}

.d-sm-block {
  @include mixins.min-width(sm) {
    display: block !important;
  }
}

.d-md-block {
  @include mixins.min-width(md) {
    display: block !important;
  }
}

.d-lg-block {
  @include mixins.min-width(lg) {
    display: block !important;
  }
}

.d-flex {
  display: flex !important;
}

.d-sm-flex {
  @include mixins.min-width(sm) {
    display: flex !important;
  }
}

.d-md-flex {
  @include mixins.min-width(md) {
    display: flex !important;
  }
}

.d-lg-flex {
  @include mixins.min-width(lg) {
    display: flex !important;
  }
}

.zm-container {
  max-width: 85rem;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.zm-button-circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #342A86;
  transition: .2s ease-in-out;
}

.zm-button-circle--black {
  border: 3px solid black;
}

.zm-button-circle--white {
  border: 3px solid white;
}

.zm-button-circle--3d {
  box-shadow: 3px 3px black;
}

.zm-button-circle--3d:hover {
  box-shadow: 1px 1px black;
  transform: translate(3px, 3px);
}

.zm-button-circle--black.zm-button-circle--3d::before {
  background-color: black;
}

.zm-button-circle--white.zm-button-circle--3d::before {
  background-color: white;
}

.nav-header {
  position: sticky;
  top: 0;
  z-index: 9;
}

.zm-navbar {
  height: 38px;
  position: relative;
  background-color: black;
  background-image: url('/dist/img/grit-white.png');
  background-size: 269px, 30%;
  border-bottom: 2px solid black;
}

.zm-navbar__grid,
.zm-navbar__collapse,
.zm-navbar__list,
.zm-navbar__item {
  height: 100%;
}

.zm-navbar__grid {
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.zm-navbar__logo {
  display: block;
  width: 28px;
}

.zm-navbar__collapse {
  display: flex;
  flex-basis: 100%;

  @include mixins.max-width(sm) {
    position: fixed;
    background-color: black;
    background-image: url('/dist/img/grit-white.png');
    background-size: 269px, 30%;
    height: 100vh;
    width: 90vw;
    display: none;
  }
}

.zm-navbar__collapse--active {
  display: block;
}

.zm-navbar__primary-menu {
  margin-left: 40px;
}

.zm-navbar__secondary-menu {
  margin-left: auto;
}

.zm-navbar__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.zm-navbar__link {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 100%;
}

.zm-navbar__link:hover {
  color: #05F802;
}

.zm-navbar__secondary-menu {
  position: relative;
}

.zm-navbar__button {
  position: absolute;
  right: -10px;
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: black;
  color: variables.$color-off-white;
  border: 2px solid variables.$color-off-white;
  padding: 0 20px 0 29px;
  border-radius: 10px 10px 0;
  font-family: 'Prater Sans', sans-serif;
  font-weight: bold;
  transition: .2s ease-in-out;
  text-transform: uppercase;
  font-size: 15px;
}

.zm-navbar__button-icon path {
  fill: variables.$color-off-white;
  transition: .2s ease-in-out;
}

.zm-navbar__button:hover {
  background-color: variables.$color-dark-purple;
  color: variables.$color-off-white;
  border: 2px solid variables.$color-off-white;
}

.zm-navbar__button:hover .zm-navbar__button-icon path {
  fill: variables.$color-off-white;
}

.zm-navbar__button-icon {
  width: 22px;
  display: block;
  margin-left: 24px;
}

.zm-navbar__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px solid variables.$color-off-white;
  border-radius: 10px 10px 0 10px;
  background-color: transparent;
  width: 50px;
  margin-right: -20px;
  margin-left: auto;
}

.zm-navbar__toggle-icon {
  width: 20px;
  display: block;
}

.zm-navbar__toggle-icon path {
  fill: variables.$color-off-white;
}

.hero {
  height: calc(100vh - 38px);
  background-color: black;
  background-image: url('/dist/img/grit-white.png');
  background-size: 269px, 30%;
  background-attachment: fixed;
}

.hero__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__card {
  width: 460px;
  border-radius: 53px;
  border: 2px solid #05F802;
  box-shadow: 0px 5px 20px 5px rgba(5, 248, 2, 0.45);
  border-radius: 30px;
  padding: 50px;
  background-image: url('/dist/img/new-york.jpg');
  background-size: 1500px;
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  overflow: hidden;
  margin-top: -38px;
  position: fixed;

  @include mixins.max-width(sm) {
    // margin-top: 0;
    width: calc(100% - 20px);
    border-radius: 30px;
    left: 10px;
    padding: 50px 15px;
  }
}

.hero__card::before {
  content: "";
  width: 1358px;
  height: 1091px;
  position: absolute;
  top: 0;
  left: -400px;
  background-image: linear-gradient(to right, rgba(106, 17, 203, 0.85) 0%, rgba(37, 117, 252, 0.85) 100%);
  background-size: 1358px;
  background-repeat: no-repeat;
  z-index: 1;
}

.hero__card-inner {
  position: relative;
  z-index: 2;
  text-align: center;
}

.hero__name {
  @include mixins.max-width(sm) {
    font-size: 40px;
  }
}

/*.hero__headshot-wrap {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}*/

.hero__headshot {
  width: 120px;
  border: 3px solid black;
  border-radius: 50%;
}

/*.hero__headshot-bg {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  display: block;
  position: absolute;
  border-radius: 50%;
  background: repeating-conic-gradient(black 0deg 18deg, transparent 18deg 30deg);
  animation: rotate 25s linear infinite;
}*/

.hero__job-title {
  font-size: 21px;
}

.hero__socials {
  margin-top: 80px;
}

.hero__social-list {
  list-style-type: none;
  display: flex;
  gap: 22px;
  justify-content: center;
}

.hero__social-button {
  width: 60px;
  height: 60px;
}

.hero__social-icon {
  width: 25px;
  display: block;
  position: relative;
}

.hero__social-icon path {
  fill: variables.$color-off-white;
}

.work {
  background-color: black;
  background-image: url('/dist/img/grit-white.png');
  background-size: 269px, 30%;
  position: relative;
}

.work__grid {
  display: grid;
  gap: 20px;
  cursor: none;

  @include mixins.min-width(sm) {
    grid-template-columns: 1fr 1fr;
  }
}

.work-box {
  // background-color: white;
  height: 700px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,.1);
  // cursor: variables.$cursor-inverse-pointer;
  cursor: none;
}

/*.work-box::after {
  content: "";
  background-image: url('/dist/img/grit-white.png');
  background-size: 269px, 30%;
  z-index: 9;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  opacity: 1;
  transition: opacity .3s ease-in-out;
}*/

.work-box:hover::after {
  opacity: 0;
}

.work-box--active .work-box__image {
  filter: grayscale(0%);
}

.work-box--active .work-box__track {
  scale: 1.02;
}

.work-box__track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: .3s ease-in-out;
}

.work-box__image {
  width: 100%;
  display: block;
  filter: grayscale(100%);
  transition: all .5s cubic-bezier(.25, 1, .3, 1);
  // transition: .3s ease-in-out;
}

.work-info {
  background-color: rgba(0,0,0,.9);
  color: white;
  border-radius: 20px;
  width: 275px;
  height: 275px;
  position: fixed;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
  transition: .6s cubic-bezier(.75, -1.27, .3, 2.33) transform,
  .4s cubic-bezier(.75, -1.27, .3, 2.33) opacity;
  padding: 35px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.work-box--active .work-info {
  opacity: 1;
  transform: scale(1);
}

.work-info__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.work-info__icon {
  background-image: url('#{variables.$cursor-inverse-pointer-svg-green}');
  background-repeat: no-repeat;
  background-size: contain;
  width: 45px;
  height: 46.6px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.work-info__title {
  font-size: 26px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 0;
}

.work-info__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: auto;
  font-weight: 500;
}

.work-info__item {
  font-size: 16px;
  color: variables.$color-green;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
}

.work-info__item::after {
  content: "|";
  position: absolute;
  right: -8px;
}

.work-info__item:last-child::after {
  content: none;
}