@use 'variables';
@use 'mixins';
@use 'functions';
@use 'animations';

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  cursor: variables.$cursor-inverse-default;
  font-size: 18px;
  font-family: variables.$font-secondary;
  line-height: 1.6;
  color: #FFFCE1;
  -webkit-font-smoothing: antialiased;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: black;
}

main {
  flex: 1;
}

* {
  box-sizing: border-box;
}

p,
li {
  cursor: variables.$cursor-text;
}

a {
  text-decoration: none;
  color: inherit;

  @media (hover: hover) and (pointer: fine) {
    cursor: variables.$cursor-pointer;
  }
}

img {
  max-width: 100%;
}

button {
  outline: none;
  background: transparent;
}

.canvas-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  cursor: variables.$cursor-inverse-grab;

  @include mixins.max-width(lg) {
    pointer-events: none;
  }
}

.page-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero__card {
  border-radius: 53px;
  border-radius: 25px;
  padding: 50px;
  background-size: 1500px;
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;

  @include mixins.max-width(sm) {
    width: calc(100% - 30px);
    border-radius: 30px;
    padding: 50px 15px;
    margin-top: -30px;
  }
}

.hero__header {
  margin-bottom: -50px;
  text-align: center;

  @include mixins.max-width(sm) {
    text-align: left;
  }
}

.hero__card-inner {
  position: relative;
  z-index: 2;
  text-align: center;
}

.hero__name {
  text-transform: uppercase;
  font-size: 150px;
  line-height: 1.05;
  margin-bottom: 60px;
  color: variables.$color-green;

  @include mixins.max-width(lg) {
    font-size: 153px;
  }

  @include mixins.max-width(md) {
    font-size: 117px;
  }

  @include mixins.max-width(sm) {
    font-size: clamp(100px, 25vw + 1rem, 140px);
  }
}

.hero__headshot {
  width: 120px;
  border: 3px solid black;
  border-radius: 50%;
  background-color: black;
  display: none;
}

.hero__job-title {
  font-size: 35px;
  color: variables.$color-green;

  @include mixins.max-width(sm) {
    font-size: 28px;
  }
}

.hero__socials {
  margin-top: 80px;
  display: none;
}

.hero__social-list {
  list-style-type: none;
  display: flex;
  gap: 22px;
  justify-content: center;
}

.hero__social-button {
  width: 60px;
  height: 60px;
}

.hero__social-icon {
  width: 25px;
  display: block;
  position: relative;
}

.hero__social-icon path {
  fill: variables.$color-off-white;
}

.work__grid {
  @include mixins.min-width(lg) {
    padding: 0 10px;
  }
}

.work__row {
  display: grid;
  gap: 40px;
  margin-bottom: 40px;

  @include mixins.min-width(lg) {
    gap: 25px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
  }

  @include mixins.min-width(xxl) {
    gap: 25px;
    margin-bottom: 20px;
  }
}

.work__row:nth-child(1) {
  @include mixins.min-width(xxl) {
    grid-template-columns: 1fr 500px;
  }
}

.work__row:nth-child(2) {
  @include mixins.min-width(xxl) {
    grid-template-columns: 500px 1fr;
  }
}

.work-box {
  border-radius: 10px;
  position: relative;
  transition: .4s ease-in-out;
}

.work-box::after {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  transition: .6s ease;
  // opacity: .7;
}

.work-box:hover::after {
  opacity: 0;
}

.work-box__carousel {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  transform-style: preserve-3d;
  background-color: black;
  outline: 1px solid #a4a4a4;
  cursor: variables.$cursor-pointer;

  @include mixins.max-width(sm) {
    height: 450px;
    // margin-bottom: 60px;
  }
}

.work-box__track {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: .5s ease;
  will-change: transform;
}

.work-box__image {
  width: 100%;
  display: block;
  transition: all 1s cubic-bezier(.25, 1, .3, 1);
  filter: grayscale(100%);

  @include mixins.max-width(lg) {
    filter: grayscale(0%);
  }
}

.work-box--active .work-box__image,
.work-box:hover .work-box__image {
  filter: grayscale(0%);
}

.work-info {
  width: calc(100% - 10px);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  @include mixins.max-width(sm) {
    margin-top: 20px;
  }
}

.work-info__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  @include mixins.max-width(sm) {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}

.work-info__title {
  font-size: 18px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, .5);
  font-family: variables.$font-secondary;
  font-weight: 400;
  transition: .2s ease-in-out;
  line-height: 1.1;

  @include mixins.max-width(sm) {
    order: 2;
    color: variables.$color-green;
    // font-size: 21px;
    margin-top: 10px;
  }
}

.work-info__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 0;
  font-weight: 500;
}

.work-info__item {
  font-size: 16px;
  color: rgba(255, 255, 255, .5);
  text-transform: uppercase;
  position: relative;
  line-height: 1.1;
  transition: .2s ease-in-out;
}

.work-info__item::after {
  content: "|";
  position: absolute;
  right: -8px;
}

.work-info__item:last-child::after {
  content: none;
}