@use 'variables';

@font-face {
  font-family: 'PraterSans';
  src: url('/dist/fonts/PraterSans-Bold.ttf') format('truetype'),
       url('/dist/fonts/PraterSans-Bold.woff2') format('woff2'),
       url('/dist/fonts/PraterSans-Bold.woff') format('woff'),
       url('/dist/fonts/PraterSans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PraterSans';
  src: url('/dist/fonts/PraterSans-Regular.ttf') format('truetype'),
       url('/dist/fonts/PraterSans-Regular.woff2') format('woff2'),
       url('/dist/fonts/PraterSans-Regular.woff') format('woff'),
       url('/dist/fonts/PraterSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixelify';
  src: url('/dist/fonts/PixelifySans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixelify';
  src: url('/dist/fonts/PixelifySans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixelify';
  src: url('/dist/fonts/PixelifySans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixelify';
  src: url('/dist/fonts/PixelifySans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Prater Sans', Arial;
  font-weight: 700;
  cursor: variables.$cursor-inverse-text;
}

h1, .h1 {
  font-size: 2.986rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h2, .h2 {
  font-size: 2.488rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3, .h3 {
  font-size: 2.074rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h4, .h4 {
  font-size: 1.728rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h5, .h5 {
  font-size: 1.44rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h6, .h6 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.2rem;
}