@use 'variables';

@font-face {
  font-family: 'Prater Sans';
  src: url('https://zachjonmitch.com/dist/fonts/PraterSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Prater Sans';
  src: url('https://zachjonmitch.com/dist/fonts/PraterSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify';
  src: url('https://zachjonmitch.com/dist/fonts/PixelifySans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify';
  src: url('https://zachjonmitch.com/dist/fonts/PixelifySans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify';
  src: url('https://zachjonmitch.com/dist/fonts/PixelifySans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify';
  src: url('https://zachjonmitch.com/dist/fonts/PixelifySans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PuffinArcade-Chrome';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Chrome.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Dither';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Dither.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Foozle';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Foozle.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Levels';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Levels.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Liquid';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Liquid.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Loadout';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Loadout.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Nerf';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Nerf.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Regular';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Tate';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Tate.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Warp';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Warp.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Wipe';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Wipe.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Yoko';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Yoko.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-12-Bold';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-12-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-12-BoldAltOakland';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-12-BoldAltOakland.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-12-NarrowRegular';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-12-NarrowRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-12-Regular';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-12-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-15-Bold';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-15-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-15-BoldAltOakland';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-15-BoldAltOakland.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-15-NarrowRegular';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-15-NarrowRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-21-OT-SerifRegular';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-21-OT-SerifRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-22-NarrowRegular';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-22-NarrowRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-22-OT-BoldOakland';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-22-OT-BoldOakland.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-22-SerifBold';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-22-SerifBold.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-28-NarrowRegular';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-28-NarrowRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-28-Regular';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-28-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-9-Minus-NarrowRegular';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-9-Minus-NarrowRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-9-Minus-WideRegular';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-9-Minus-WideRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-9-NarrowBold';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-9-NarrowBold.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-9-NarrowRegular';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-9-NarrowRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-9-Plus-NarrowBold';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-9-Plus-NarrowBold.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-9-Plus-NarrowRegular';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-9-Plus-NarrowRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-9-Plus-WideBold';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-9-Plus-WideBold.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-9-Plus-WideBoldAlt';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-9-Plus-WideBoldAlt.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-9-Plus-WideRegular';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-9-Plus-WideRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-9-WideBold';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-9-WideBold.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-9-WideBoldAltOakland';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-9-WideBoldAltOakland.woff2') format('woff2');
}

@font-face {
  font-family: 'LoRes-9-WideRegular';
  src: url('https://zachjonmitch.com/dist/fonts/LoRes-9-WideRegular.woff2') format('woff2');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$font-primary;
  font-weight: 700;
  cursor: variables.$cursor-text;
}

h1, .h1 {
  font-size: 2.986rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h2, .h2 {
  font-size: 2.488rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3, .h3 {
  font-size: 2.074rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h4, .h4 {
  font-size: 1.728rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h5, .h5 {
  font-size: 1.44rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h6, .h6 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.2rem;
}