@use 'variables';

@font-face {
  font-family: 'Pixelify';
  src: url('https://zachjonmitch.com/dist/fonts/PixelifySans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Pixelify';
  src: url('https://zachjonmitch.com/dist/fonts/PixelifySans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify';
  src: url('https://zachjonmitch.com/dist/fonts/PixelifySans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pixelify';
  src: url('https://zachjonmitch.com/dist/fonts/PixelifySans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PuffinArcade-Chrome';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Chrome.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Dither';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Dither.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Foozle';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Foozle.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Levels';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Levels.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Liquid';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Liquid.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Loadout';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Loadout.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Nerf';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Nerf.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Regular';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Regular.woff2') format('woff2');
  font-display: block;
}

@font-face {
  font-family: 'PuffinArcade-Tate';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Tate.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Warp';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Warp.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Wipe';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Wipe.woff2') format('woff2');
}

@font-face {
  font-family: 'PuffinArcade-Yoko';
  src: url('https://zachjonmitch.com/dist/fonts/PuffinArcade-Yoko.woff2') format('woff2');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$font-primary;
  font-weight: 700;
  cursor: variables.$cursor-text;
}

h1, .h1 {
  font-size: 2.986rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h2, .h2 {
  font-size: 2.488rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3, .h3 {
  font-size: 2.074rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h4, .h4 {
  font-size: 1.728rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h5, .h5 {
  font-size: 1.44rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h6, .h6 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.2rem;
}