$bp-xxlg: 2560px;
$bp-xlg: 1920px;
$bp-lg: 1440px;
$bp-md: 990px;
$bp-sm: 768px;
$bp-xs: 480px;

$teal-primary: rgba(110, 177, 181, .8);
$purple-primary: rgba(84, 76, 133, .8);
$purple-overlay: rgba(44,42,54,0.9);
$purple-box-shadow: rgba(44,42,54,0.451);
$dark-blue-primary: rgb(54, 70, 93);
$dark-red-primary: #5d3a36;
$light-grey-accent: #f2f2f2;

$purple-gradient: linear-gradient(0deg, rgba(110, 177, 181, .8), rgba(84, 76, 133, .8));

@mixin mq($width, $type) {
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Unica One';
}

*, *::before, *::after {
    box-sizing: border-box;
}

.fa-angle-down {
    width: 55px;
    height: 55px;
    color: #ffffff;
    position: fixed;
    bottom: 15px;
    border-radius: 50%;
    font-size: 45px;
    text-align: center;
    opacity: .6;
    cursor: pointer;
    @include transition(all 0.5s ease-in-out);
    @include mq($bp-md, max) {
      position: absolute;
    }
    &:hover {
      color: $light-grey-accent;
      text-decoration: none;
    }
}

#profileWrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: $purple-gradient, url("../img/new-york.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    @include mq($bp-sm, max) {
      background-position: bottom left;
    }
    .profile {
        position: fixed;
        z-index: 1;
        width: 450px;
        height: 500px;
        background-color: $purple-overlay;
        box-shadow: 0rem 3rem 3.125rem 0rem $purple-box-shadow;
        border-radius: 10px;
        text-align: center;
        @include mq($bp-md, max) {
          position: absolute;
        }
        @include mq($bp-sm, max) {
          width: 100%;
          border-radius: 0;
        }
        @include mq($bp-xs, max) {
          height: 400px;
        }
        .profileImage {
            width: 128px;
            height: 128px;
            margin: 50px auto 20px auto;
            border: 1px solid #ccc;
            border-radius: 50%;
            background-image: url("../img/g2-profile-cropped-sm.jpg");
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            box-shadow: 0px 30px 30px rgba(0,0,0,0.3);
            @include mq($bp-xs, max) {
              height: 115px;
              width: 115px;
              margin-top: 25px;
            }
        }
        hr {
          width: 15%;
          border-top: 2px solid #97A3D8;
        }
        h1 {
            font-size: 50px;
            font-weight: bold;
            color: white;
            padding-top: 5px;
            @include mq($bp-xs, max) {
              font-size: 45px;
            }
        }
        p {
            font-size: 19px;
            color: $light-grey-accent;
            @include mq($bp-xs, max) {
              font-size: 17px;
            }
        }
        ul {
          list-style: none;
          padding: 0;
          margin-top: 40px;
          @include mq($bp-xs, max) {
            margin-top: 25px;
          }
        }
        li {
          display: inline;
        }
        i {
          color: white;
          font-size: 24px;
          border: 1px solid white;
          border-radius: 50%;
          width: 55px;
          height: 55px;
          text-align: center;
          margin: 5px;
          vertical-align: middle;
          line-height: 53px;
          @include mq($bp-xs, max) {
            line-height: 48px;
            font-size: 21px;
            width: 50px;
            height: 50px;
          }
          &:hover {
            color: $teal-primary;
            border: 1px solid #97A3D8;
          }
        }
    }
}

#portfolio {
  width: 100%;
  height: 100%;
  background: #EFF1F3;
  position: relative;
  z-index: 100;
  @include mq($bp-md, max) {
    height: auto;
  }
  .workGrid {
    position: relative;
    padding: 7px;
    height: 100%;
    width: 100%;
    z-index: 100;
    @include mq($bp-md, max) {
      padding: 5px;
    }
  }
  .row-fluid {
    width: 100%;
    height: 100%;
  }
  .col-md-6 {
    height: 50%;
    position: relative;
    padding: 7px;
    @include mq($bp-md, max) {
      height: 450px;
    }
    @include mq($bp-sm, max) {
      height: 325px;
    }
    .innerGrid {
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer;
      z-index: 100;
      box-shadow: 4px 4px 6px rgba(0,0,0,0.25);
      @include mq($bp-sm, max) {
        .overlay {
          opacity: 1 !important;
          background: rgba(0,0,0,.80) !important;
        }
        p, 
        h1 {
          opacity: 1 !important;
        }
      }
      &:hover {
        .overlay {
          opacity: 1;
          p {
          opacity: 1;
          }
          h1 {
            opacity: 1;
          }
        }
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
          font-size: 42px;
          font-weight: bold;
          text-align: center;
          color: white;
          opacity: 0;
          @include mq($bp-md, max) {
            display: block;
          }
        }
        p {
          font-size: 18px;
          text-align: center;
          color: white;
          opacity: 0;
          @include mq($bp-md, max) {
            display: block;
          }
        }
      }
    }
    #one {
      background: url('../img/rrfc-newsletter.jpg');
      background-size: cover;
      background-position: top center;
    }
    #two {
      background: url('../img/rmr-bullets-v3.jpg');
      background-size: cover;
      background-position: top center;
    }
    #three {
      background: url('../img/g2-buyer-intent-v3.jpg');
      background-size: cover;
      background-position: top center;
    }
    #four {
      background: url('../img/telenote.JPG');
      background-size: cover;
      background-position: top center;
    }
    #five {
      background: url('../img/g2-track.jpg');
      background-size: cover;
      background-position: top center;
    }
    #six {
      background: url('../img/nightlife.JPG');
      background-size: cover;
      background-position: bottom left;
    }
    #seven {
      background: url('../img/lancehub.png');
      background-size: cover;
      background-position: top center;
    }
    #eight {
      background: url('../img/vargas.JPG');
      background-size: cover;
      background-position: top left;
    }
    #nine {
      background: url('../img/AffinityHQ.JPG');
      background-size: cover;
      background-position: top center;
    }
  }
}