doctype html
html
    head
        meta(charset="utf-8")

        title Zach Mitchell
        meta(name="description" content="Web development portfolio with contact info and work samples")
        meta(name="author" content="Zach Mitchell")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" rel="stylesheet")
        link(rel="icon" type="image/png" sizes="32x32" href="dist/img/favicon.png")
        link(rel="stylesheet" href="dist/css/styles.min.css")
    
    body
        div(id="profileWrap")
            div(class="profile")
                div(class="profileImage")
                h1 Zach Mitchell
                hr
                p Full-stack developer
                ul
                    li 
                        a(href="https://www.linkedin.com/in/zjmitche/")
                            i(class="fa fa-linkedin")
                    li 
                        a(href="https://github.com/zjmitche")
                            i(class="fa fa-github")
                    li 
                        a(href="tel:801-234-0945")
                            i(class="fa fa-phone")
                    li 
                        a(href="mailto:zjmitche@gmail.com")
                            i(class="fa fa-envelope")

            a(class="fa fa-angle-down" href="#portfolio")

        section(id="portfolio")
            div(class="workGrid container-fluid")
                div(class="row-fluid")
                    div(class="col-md-4")
                        a(href="https://zjmitche.github.io/outdoors-template/")
                            div(class="innerGrid" id="one")
                                div(class="overlay")
                                    div(class="flexOverlay")
                                        h1 OUTDOORS TEMPLATE
                                        p HTML | SCSS | JQUERY

                    div(class="col-md-4")
                        a(href="https://camperleaderboard.herokuapp.com/")
                            div(class="innerGrid" id="two")
                                div(class="overlay")
                                    div(class="flexOverlay")
                                        h1 LEADERBOARD
                                        p HTML | CSS | REACT | WEBPACK

                    div(class="col-md-4")
                        a(href="https://zjmitche.github.io/agency-template/")
                            div(class="innerGrid" id="three")
                                div(class="overlay")
                                    div(class="flexOverlay")
                                        h1 AGENCY TEMPLATE
                                        p HTML | SCSS | JQUERY

                    div(class="col-md-4")
                        a(href="https://bing-pic-search.herokuapp.com/")
                            div(class="innerGrid" id="four")
                                div(class="overlay")
                                    div(class="flexOverlay")
                                        h1 PIC SEARCH API
                                        p HTML | CSS | NODE | MONGODB

                    div(class="col-md-4")
                        a(href="https://zjmitche.github.io/apple-clone/")
                            div(class="innerGrid" id="five")
                                div(class="overlay")
                                    div(class="flexOverlay")
                                        h1 APPLE CLONE
                                        p PUG | SCSS | JQUERY

                    div(class="col-md-4")
                        a(href="https://github.com/zjmitche/nightlife-app")
                            div(class="innerGrid" id="six")
                                div(class="overlay")
                                    div(class="flexOverlay")
                                        h1 NIGHTLIFE APP (WIP)
                                        p MONGODB | EXPRESS | ANGULAR 4 | NODE

                    div(class="col-md-4")
                        a(href="https://zjmitche.github.io/coming-soon-template/")
                            div(class="innerGrid" id="seven")
                                div(class="overlay")
                                    div(class="flexOverlay")
                                        h1 COUNTDOWN TEMPLATE
                                        p PUG | SASS | JQUERY

                    div(class="col-md-4")
                        a(href="https://github.com/zjmitche/pinterest-clone")
                            div(class="innerGrid" id="eight")
                                div(class="overlay")
                                    div(class="flexOverlay")
                                        h1 PINTEREST CLONE (WIP)
                                        p MONGODB | EXPRESS | REACT | NODE

                    div(class="col-md-4")
                        a(href="https://customvotes.herokuapp.com/")
                            div(class="innerGrid" id="nine")
                                div(class="overlay")
                                    div(class="flexOverlay")
                                        h1 VOTING APP
                                        p Pug | SCSS | NODE | EXPRESS


        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js")
        script(src="dist/js/index.min.js")
