$bp-xxlg: 2560px;
$bp-xlg: 1920px;
$bp-lg: 1440px;
$bp-md: 1024px;
$bp-sm: 768px;
$bp-xs: 480px;

$teal-primary: rgba(110, 177, 181, .8);
$purple-primary: rgba(84, 76, 133, .8);
$purple-overlay: rgba(44,42,54,0.8);
$purple-box-shadow: rgba(44,42,54,0.451);
$dark-blue-primary: rgb(54, 70, 93);
$light-grey-accent: #f2f2f2;

$purple-gradient: linear-gradient(0deg, rgba(110, 177, 181, .8), rgba(84, 76, 133, .8));

@mixin mq($width, $type) {
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Unica One'
}

*, *::before, *::after {
    box-sizing: border-box;
}

.fa-angle-down {
    width: 55px;
    height: 55px;
    color: $light-grey-accent;
    position: absolute;
    bottom: 15px;
    border: 3px solid $light-grey-accent;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    opacity: .6;
    cursor: pointer;
}

#profileWrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: $purple-gradient, url("https://source.unsplash.com/s6L0uQyprpE/5616×3744");
    background-size: cover;
    background-attachment: fixed;
    .profile {
        position: relative;
        width: 450px;
        height: 500px;
        background-color: $purple-overlay;
        box-shadow: 0rem 3rem 3.125rem 0rem $purple-box-shadow;
        border-radius: 10px;
        text-align: center;
        @include mq($bp-sm, max) {
          width: 100%;
        }
        .profileImage {
            width: 128px;
            height: 128px;
            margin: 50px auto 20px auto;
            border: 2px solid grey;
            border-radius: 50%;
            background-image: url("../../assets/images/profile.jpg");
            background-size: 128px 170px;
            background-position: center center;
            background-repeat: no-repeat;
        }
        hr {
          width: 15%;
          border-top: 2px solid white;
        }
        h1 {
            font-size: 50px;
            font-weight: bold;
            color: white;
            padding-top: 5px;
        }
        p {
            font-size: 19px;
            color: $light-grey-accent;
        }
        ul {
          list-style: none;
          padding: 0;
          margin-top: 40px;
        }
        li {
          display: inline;
        }
        i {
          color: white;
          font-size: 24px;
          border: 1px solid white;
          border-radius: 50%;
          width: 55px;
          height: 55px;
          text-align: center;
          margin: 5px;
          vertical-align: middle;
          line-height: 53px;
          &:hover {
            color: $teal-primary;
            border: 1px solid $teal-primary;
          }
        }
    }
}

#workWrap {
  width: 100%;
  height: 100%;
  background: $dark-blue-primary;
  @include mq($bp-md, max) {
    height: auto;
  }
  h1 {
    margin-top: 0;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding-top: 20px;
  }
  hr {
    border-top: 3px solid white;
    width: 70%;
  }
  .workGrid {
    position: relative;
    padding-top: 15px;
    height: 100%;
    width: 100%;
  }
  .row-fluid {
    width: 100%;
    height: 100%;
  }
  .col-md-4 {
    height: 33%;
    position: relative;
    padding: 10px;
    @include mq($bp-md, max) {
      height: 400px;
    }
    .innerGrid {
      width: 100%;
      height: 100%;
      background: url('../../assets/images/Capture.jpg');
      background-size: cover;
      background-position: center center;
      border: 1px solid grey;
    }
  }
}